@model WebApplication13.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="myCreateform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Store_id" class="control-label"></label>
                <input asp-for="Store_id" class="form-control" />
                <span asp-validation-for="Store_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="First_name" class="control-label"></label>
                <input asp-for="First_name" class="form-control" />
                <span asp-validation-for="First_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last_name" class="control-label"></label>
                <input asp-for="Last_name" class="form-control" />
                <span asp-validation-for="Last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address_id" class="control-label"></label>
                <input asp-for="Address_id" class="form-control" />
                <span asp-validation-for="Address_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crcard" class="control-label"></label>
                <input asp-for="Crcard"  class="form-control" />
                <span asp-validation-for="Crcard"  class="text-danger"></span>
            </div>

<!-- Removed Active data entry -->
            <!--  Removed Create and Last update fields -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <script>
// just for the demos, avoids form submit
jQuery.validator.setDefaults({
  debug: true,
  success: "valid"
});
$( "#myCreateform" ).validate({
  rules: {
    Crcard: {
      required: true,
      creditcard: true
    }
  }
});
        </script>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
